{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    <div class="d-flex align-items-center flex-column">
      <img
        class="img-fluid rounded mb-2 pt-1 mt-3"
        src="{{ sidebar_data.profile_image.url }}"
        height="100"
        width="100"
        alt="{{ sidebar_data.username }}" />
      <div class="user-info text-center">
        <h4 class="mb-1">{{ sidebar_data.name }}</h4>
        <span class="badge bg-label-secondary mt-1">@{{ sidebar_data.username }}</span>
      </div>
    </div>

    <div class="menu-inner-shadow"></div>

    {% with request.resolver_match.url_name as url_name %}
        <ul class="menu-inner py-1 mt-2 border-top">
            <li class="menu-item {% if url_name == 'home' %}active{% endif %}">
                <a href="{% url 'home' %}" class="menu-link">
                    <i class="menu-icon tf-icons ti ti-home"></i>
                    <div data-i18n="Home">Home</div>
                </a>
            </li>
            <li class="menu-item {% if url_name == 'dashboard' %}active{% endif %}">
                <a href="{% url 'dashboard' %}" class="menu-link">
                    <i class="menu-icon tf-icons ti ti-layout-dashboard"></i>
                    <div data-i18n="Dashboard">Dashboard</div>
                </a>
            </li>
            <li class="menu-item {% if url_name == 'project' %}active{% endif %}">
                <a href="{% url 'project' %}" class="menu-link">
                    <i class="menu-icon tf-icons ti ti-coffee"></i>
                    <div data-i18n="Projects">Projects</div>
                </a>
            </li>
            <li class="menu-item {% if url_name == 'certificate' %}active{% endif %}">
                <a href="{% url 'certificate' %}" class="menu-link">
                    <i class="menu-icon tf-icons ti ti-certificate"></i>
                    <div data-i18n="Lic. &amp; Certs.">Lic. &amp; Certs.</div>
                </a>
            </li>
            <li class="menu-item {% if url_name == 'about' %}active{% endif %}">
                <a href="{% url 'about' %}" class="menu-link">
                    <i class="menu-icon tf-icons ti ti-user"></i>
                    <div data-i18n="About">About</div>
                </a>
            </li>
            <li class="menu-item {% if url_name == 'contact' %}active{% endif %}">
                <a href="{% url 'contact' %}" class="menu-link">
                    <i class="menu-icon tf-icons ti ti-rocket"></i>
                    <div data-i18n="Contact">Contact</div>
                </a>
            </li>
            <li class="menu-item {% if url_name == 'playground' %}active{% endif %}">
                <a href="{% url 'playground' %}" class="menu-link">
                    <i class="menu-icon tf-icons ti ti-brand-python"></i>
                    <div data-i18n="Playground">Playground</div>
                </a>
            </li>
        </ul>
    {% endwith %}
</aside>