{% extends 'main.html' %} {% load static %} {% block title %}About{% endblock title %} {% block css_head %}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-profile.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/css/pages/app-academy.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/spinkit/spinkit.css' %}" />


{% endblock css_head %} {% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    {% include 'base/profile-header.html' %}
    <section>
        <h3 class="text-left mb-2 mt-0 mt-md-2">About</h3>
        <p class="text-left lead text-muted">
            A short story of me, not important but seem better than nothing.
        </p>
    </section>
    <div class="divider text-center">
        <div class="divider-text">
            <i class="ti ti-history"></i>
        </div>
    </div>
    <section>
        <!-- <p class="text-left lead">
            Hi there, I'm Ridwan, also known as <strong>ridwaanhall</strong>. an aspiring Informatics currently pursuing my undergraduate degree at the University of Technology Yogyakarta. Although I don't have professional work experience
            yet, I'm an eager learner looking to launch my career.
        </p>
        <p class="text-left lead">
            Throughout my studies, I've developed skills in Python, Flask, Django, MongoDB, Git, and more. I'm particularly passionate about leveraging my Python expertise to work on generative AI, NLP applications, neural networks, data
            analysis, and other emerging technologies.
        </p>
        <p class="text-left lead">
            With my academic coursework and personal projects under my belt, I'm excited to tackle new challenges that will allow me to grow as a developer. I'm a team player ready to build innovative solutions that drive value and user
            experiences forward.
        </p> -->
        {{ abouts.longtext|safe }}
    </section>
    <div class="divider text-start-center">
        <div class="divider-text">
            <i class="ti ti-award"></i>
        </div>
    </div>
    <section>
        <!-- <div class="text-left mb-2 mt-0 mt-md-2 h4">
                        <i class="menu-icon tf-icons ti ti-school"></i>Education
                    </div>
                    <p class="text-muted mb-4"></p> -->
        <div class="d-flex justify-content-between mb-2">
            <h5 class="card-title mb-0"><i class="menu-icon tf-icons ti ti-school"></i>Education</h5>
        </div>
        <p class="text-muted mb-3 mt-0 mt-md-2">My educational journey.</p>
        <div class="row">
            {% for latest_education in latest_educations %}
            <div class="col-md-6 col-sm-6">
                <div class="card {{ latest_education.css_code_label }} mb-3">
                    <div class="card-body d-flex align-items-center">
                        <img src="{{ latest_education.logo }}" alt="{{ latest_education.name_education }}" class="rounded-circle me-3" width="55" />
                        <div>
                            <span class="card-title {{ latest_education.css_code_text }} mb-2 h4">{{ latest_education.name_education }}</span>
                            <div class="card-text">{{ latest_education.study_programs }}</div>
                            <span class="text-neutral-300 dark:text-neutral-700">{{ latest_education.date_start }} - {{ latest_education.date_end }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <div class="divider text-end">
        <div class="divider-text">
            <i class="ti ti-cut rotate-n90"></i>
        </div>
    </div>
    <section>
        <div class="d-flex justify-content-between mb-2">
            <h5 class="card-title mb-0"><i class="menu-icon tf-icons ti ti-report-search"></i>Skills</h5>
        </div>
        <p class="text-muted mb-2 mt-0 mt-md-2">My coding skills, progressing from foundational to intermediate proficiency.</p>
        <div class="demo-inline-spacing">
            <marquee behavior="scroll" direction="left" class="marquee-container">
                <button type="button" class="btn rounded-pill btn-label-secondary">
                    <span class="ti-xs ti ti-brand-mongodb me-1"></span>MongoDB
                </button>
                <button type="button" class="btn rounded-pill btn-label-success">
                    <span class="ti-xs ti ti-brain me-1"></span>Artificial Intelligence
                </button>
                <button type="button" class="btn rounded-pill btn-label-danger">
                    <span class="ti-xs ti ti-brand-bootstrap me-1"></span>Bootstrap
                </button>
                <button type="button" class="btn rounded-pill btn-label-warning">
                    <span class="ti-xs ti ti-brand-django me-1"></span>Django
                </button>
                <button type="button" class="btn rounded-pill btn-label-info">
                    <span class="ti-xs ti ti-brand-python me-1"></span>Flask Framework
                </button>
                <button type="button" class="btn rounded-pill btn-label-dark">
                    <span class="ti-xs ti ti-brand-python me-1"></span>Python
                </button>
                <button type="button" class="btn rounded-pill btn-label-primary">
                    <span class="ti-xs ti ti-html me-1"></span>HTML
                </button>
                <button type="button" class="btn rounded-pill btn-label-dark">
                    Generative AI
                </button>
                <button type="button" class="btn rounded-pill btn-label-primary">
                    <span class="ti-xs ti ti-brand-openai me-1"></span>ChatGPT
                </button>
                <button type="button" class="btn rounded-pill btn-label-secondary">
                    <span class="ti-xs ti ti-api me-1"></span>API Documentation
                </button>
                <button type="button" class="btn rounded-pill btn-label-success">
                    <span class="ti-xs ti ti-shield-lock me-1"></span>Ethical Hacking
                </button>
                <button type="button" class="btn rounded-pill btn-label-danger">
                    Personal Branding
                </button>
                <button type="button" class="btn rounded-pill btn-label-warning">
                    REST APIs
                </button>
                <button type="button" class="btn rounded-pill btn-label-primary">
                    <span class="ti-xs ti ti-server-bolt me-1"></span>SQLite3
                </button>
                <button type="button" class="btn rounded-pill btn-label-info">
                    <span class="ti-xs ti ti-git-fork me-1"></span>Git
                </button>
                <button type="button" class="btn rounded-pill btn-label-dark">
                    <span class="ti-xs ti ti-database-cog me-1"></span>SQL
                </button>
                <button type="button" class="btn rounded-pill btn-label-primary">
                    Microsoft Office
                </button>
                <button type="button" class="btn rounded-pill btn-label-secondary">
                    Critical Thinking
                </button>
                <button type="button" class="btn rounded-pill btn-label-success">
                    <span class="ti-xs ti ti-file-spreadsheet me-1"></span>Excel
                </button>
                <button type="button" class="btn rounded-pill btn-label-danger">
                    Data Science
                </button>
                <button type="button" class="btn rounded-pill btn-label-warning">
                    Data Analysis
                </button>
                <button type="button" class="btn rounded-pill btn-label-info">
                    <span class="ti-xs ti ti-message me-1"></span>Chatbots
                </button>
                <button type="button" class="btn rounded-pill btn-label-dark">
                    Microsoft Search
                </button>
    
                <button type="button" class="btn rounded-pill btn-label-dark">
                    <span class="ti-xs ti ti-affiliate me-1"></span>Neural Networks
                </button>
                <button type="button" class="btn rounded-pill btn-label-primary">
                    Public Speaking
                </button>
            </marquee>
        </div>
    </section>
    <!-- <section>
        <div class="divider text-center">
            <div class="divider-text">
                <i class="ti ti-plug-connected"></i>
            </div>
        </div>
        <div class="d-flex justify-content-between mb-2">
            <h5 class="card-title mb-0"><i class="menu-icon tf-icons ti ti-brand-tiktok"></i>Tiktok</h5>
        </div>
        <p class="text-muted mb-4 mt-0 mt-md-2">Find me on Tiktok</p>
        <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@ridwaanhall" data-unique-id="ridwaanhall" data-embed-type="creator" style="max-width: 780px; min-width: 288px;">
            <section>
                <a target="_blank" href="https://www.tiktok.com/@ridwaanhall?refer=creator_embed">
                    @ridwaanhall
                </a>
            </section>
        </blockquote>
        <script async src="https://www.tiktok.com/embed.js"></script>
    </section> -->
    <!--/ User Profile Content -->
</div>
{% endblock content %} {% block js_bottom %}
<script src="{% static 'js/pages-profile.js' %}"></script>
<script src="{% static 'vendor/libs/block-ui/block-ui.js' %}"></script>
<script src="{% static 'vendor/libs/sortablejs/sortable.js' %}"></script>
<script src="{% static 'js/cards-actions.js' %}"></script>
<!-- <script src="{% static 'js/app-academy-course.js' %}"></script> -->
{% endblock js_bottom %}
