{% extends 'main.html' %}

{% load static %}

{% block title %}Lic. &amp; Certs.{% endblock title %}

{% block css_head %}
    <link rel="stylesheet" href="{% static 'vendor/css/pages/page-profile.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/css/pages/app-academy.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/spinkit/spinkit.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
    <!-- Row Group CSS -->
    <link rel="stylesheet" href="{% static 'vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css' %}" />
    <!-- Form Validation -->
    <link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/umd/styles/index.min.css' %}" />

{% endblock css_head %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    {% include 'base/profile-header.html' %}
    <!-- DataTable with Buttons -->
    <section>
        <h3 class="text-left mb-2 mt-0 mt-md-2">Licenses &amp; certifications</h3>
        <p class="text-left lead">
            Embarking on a certification adventure, I've gathered a colorful array of credentials – from premium courses to no-cost gems, all accompanied by challenging assessments. 
        </p>
    </section>

    <div class="divider divider-primary mb-4">
        <div class="divider-text">
            <i class="ti ti-activity-heartbeat"></i>
        </div>
    </div>
    
    <div class="card">
        <div class="card-datatable table-responsive pt-0">
            <table class="datatables-basic table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>id</th>
                        <th>Issuing Org</th>
                        <th>Name</th>
                        <th>Skills</th>
                        <th>Type</th>
                        <th>Credential</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!--/ DataTable with Buttons -->
</div>

{% endblock content %}

{% block js_bottom %}
    <script src="{% static 'js/pages-profile.js' %}"></script>
    <script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <script src="{% static 'vendor/libs/block-ui/block-ui.js' %}"></script>
    <script src="{% static 'vendor/libs/sortablejs/sortable.js' %}"></script>
    <script src="{% static 'js/cards-actions.js' %}"></script>
    <script src="{% static 'js/app-academy-course.js' %}"></script>
    <!-- Flat Picker -->
    <script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
    <!-- Form Validation -->
    <script src="{% static 'vendor/libs/@form-validation/umd/bundle/popular.min.js' %}"></script>
    <script src="{% static 'vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js' %}"></script>
    <script src="{% static 'vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'js/tables-datatables-basic.js' %}"></script>
{% endblock js_bottom %}
