{% extends 'main.html' %}

{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block css_head %}
    <link rel="stylesheet" href="{% static 'vendor/css/pages/page-profile.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/css/pages/app-academy.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/spinkit/spinkit.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
{% endblock css_head %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        {% include 'base/profile-header.html' %}

        <!-- User Profile Content -->
        <div class="pb-sm-2 pb-2 rounded-top">
            <div class="container py-2">
                <section>
                    <h3 class="text-left mb-2 mt-0 mt-md-2">Dashboard</h3>
                    <p class="text-left lead">
                        This is my personal dashboard, built with Django deployed as serverless functions.
                    </p>
                </section>
                <div class="divider divider-primary">
                    <div class="divider-text">
                        <i class="ti ti-activity-heartbeat"></i>
                    </div>
                </div>
                <section>
                    <h4 class="card-title mb-0"><i class="menu-icon tf-icons ti ti-brand-github"></i>Contributions</h4>
                    <div class="d-flex justify-content-between mb-0">
                        <div class="col-sm-12 col-12 mb-0">
                            <p class="text-muted mb-0 mt-0">My contributions from last year on github.</p>
                        <div>
                        <div class="col-sm-12 col-12 mb-4 mt-0">
                            <div class="card-body">
                                <div id="heatMapContribution"></div>
                            </div>
                        </div>

                    </div>
                </section>
                <div class="divider text-end">
                    <div class="divider-text">
                        <i class="ti ti-paw rotate-n90"></i>
                    </div>
                </div>
                <section>
                    <div class="d-flex justify-content-between mb-2">
                        <h4 class="card-title mb-0"><i class="menu-icon tf-icons ti ti-school"></i>Highest Education</h4>
                    </div>
                    <p class="text-muted mb-3 mt-0 mt-md-2">My highest level of education.</p>
                    <div class="row" id="sortable-4">
                        <div class="col-md-12 col-sm-12">
                            <div class="card bg-label-primary mb-3">
                                <div class="card-body cursor-move d-flex align-items-center">
                                    <img src="{% static 'img/branding/UTY.png' %}" alt="User" class="rounded-circle me-3" width="55" />
                                    <div>
                                        <span class="card-title text-primary mb-2 h4">Universitas Teknologi Yogyakarta</span>
                                        <div class="card-text">Bachelor of Science in Informatics.(S.Kom)</div>
                                        <span class="text-neutral-300 dark:text-neutral-700">2021 - Now</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--/ User Profile Content -->
    </div>
{% endblock content %}


{% block js_bottom %}
    <script src="{% static 'js/pages-profile.js' %}"></script>
    <script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <script src="{% static 'vendor/libs/block-ui/block-ui.js' %}"></script>
    <script src="{% static 'vendor/libs/sortablejs/sortable.js' %}"></script>
    <script src="{% static 'js/cards-actions.js' %}"></script>
    <script src="{% static 'js/app-academy-course.js' %}"></script>
    <script>
        /**
         * Charts Apex
         */

        'use strict';

        (function () {
          let cardColor, headingColor, labelColor, borderColor, legendColor;

          if (isDarkStyle) {
            cardColor = config.colors_dark.cardColor;
            headingColor = config.colors_dark.headingColor;
            labelColor = config.colors_dark.textMuted;
            legendColor = config.colors_dark.bodyColor;
            borderColor = config.colors_dark.borderColor;
          } else {
            cardColor = config.colors.cardColor;
            headingColor = config.colors.headingColor;
            labelColor = config.colors.textMuted;
            legendColor = config.colors.bodyColor;
            borderColor = config.colors.borderColor;
          }

          // Color constant
          const chartColors = {
            column: {
              series1: '#826af9',
              series2: '#d2b0ff',
              bg: '#f8d3ff'
            }
          };

          // Heat chart data generator
          function generateDataHeat(count, yrange) {
            let i = 0;
            let series = [];
            while (i < count) {
              let x = 'w' + (i + 1).toString();
              let y = Math.floor(Math.random() * (yrange.max - yrange.min + 1)) + yrange.min;

              series.push({
                x: x,
                y: y
              });
              i++;
            }
            return series;
          }

          // Heat map chart
          // --------------------------------------------------------------------
          const heatMapEl = document.querySelector('#heatMapContribution'),
            heatMapChartConfig = {
              chart: {
                height: 200,
                type: 'heatmap',
                parentHeightOffset: 0,
                toolbar: {
                  show: false
                }
              },
              plotOptions: {
                heatmap: {
                  enableShades: false,

                  colorScale: {
                    ranges: [
                      {
                        from: 0,
                        to: 0,
                        name: '0',
                        color: '#D4FFE1'
                      },
                      // {
                      //   from: 11,
                      //   to: 20,
                      //   name: '10-20',
                      //   color: '#7EA6F1'
                      // },
                      {
                        from: 1,
                        to: 13,
                        name: '20-30',
                        color: '#67B07E'
                      },
                      {
                        from: 14,
                        to: 25,
                        name: '30-40',
                        color: '#399255'
                      },
                      {
                        from: 26,
                        to: 45,
                        name: '40-50',
                        color: '#1A7838'
                      },
                        {
                          from: 46,
                          to: 10000000000000, // or undefined
                          name: '50 - more',
                          color: '#00561C'
                        }
                    ]
                  }
                }
              },
              dataLabels: {
                enabled: false
              },
              grid: {
                show: false
              },
              legend: {
                show: true,
                position: 'bottom',
                horizontalAlign: 'start',
                labels: {
                  colors: legendColor,
                  useSeriesColors: false
                },
                markers: {
                  offsetY: 0,
                  offsetX: -3
                },
                itemMargin: {
                  vertical: 3,
                  horizontal: 10
                }
              },
              stroke: {
                curve: 'smooth',
                width: 4,
                lineCap: 'round',
                colors: [cardColor]
              },
              series: [
                {
                  name: 'SAT',
                  data: generateDataHeat(8, {
                    min: 0,
                    max: 60
                  })
                },
                {
                  name: 'FRI',
                  data: generateDataHeat(52, {
                    min: 0,
                    max: 60
                  })
                },
                {
                  name: 'TUE',
                  data: generateDataHeat(52, {
                    min: 0,
                    max: 60
                  })
                },
                {
                  name: 'WED',
                  data: [
                          { x: 'kwaokwaowka', y: 0 },
                          { x: 'wakokwaokw waokakwoa', y: 20 },
                          { x: 'wao kwo kwa wa okwao a', y: 25 }
                          // ... tambahkan nilai lainnya sesuai kebutuhan
                        ]
                },
                {
                  name: 'TUE',
                  data: generateDataHeat(52, {
                    min: 0,
                    max: 60
                  })
                },
                {
                  name: 'MON',
                  data: generateDataHeat(52, {
                    min: 0,
                    max: 60
                  })
                },
                {
                  name: 'SUN',
                  data: generateDataHeat(52, {
                    min: 0,
                    max: 60
                  })
                }
              ],
              xaxis: {
                labels: {
                  show: false,
                  style: {
                    colors: labelColor,
                    fontSize: '13px'
                  }
                },
                axisBorder: {
                  show: false
                },
                axisTicks: {
                  show: false
                }
              },
              yaxis: {
                labels: {
                  style: {
                    colors: labelColor,
                    fontSize: '13px'
                  }
                }
              }
            };
          if (typeof heatMapEl !== undefined && heatMapEl !== null) {
            const heatMapContribution = new ApexCharts(heatMapEl, heatMapChartConfig);
            heatMapContribution.render();
          }
        })();

    </script>
{% endblock js_bottom %}