{% extends 'main.html' %}

{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Layout Demo -->
        <div class="layout-demo-wrapper">
            <div class="layout-demo-placeholder">
                <img
                    src="https://cdn.statically.io/gh/ridwaanhall/doc-assets/main/01_themes/assets/img/layouts/layout-horizontal-without-menu-light.png"
                    class="img-fluid"
                    alt="Layout without menu"
                    data-app-light-img="layouts/layout-horizontal-without-menu-light.png"
                    data-app-dark-img="layouts/layout-horizontal-without-menu-dark.png"
                />
            </div>
            <div class="layout-demo-info">
                <h4>Layout without Menu (Navigation)</h4>
                <button class="btn btn-primary" type="button" onclick="history.back()">Go Back</button>
            </div>
        </div>
        <!--/ Layout Demo -->
    </div>
    <!--/ Content -->

    <!-- Footer -->
    <footer class="content-footer footer bg-footer-theme">
        <div class="container-xxl">
            <div class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">
                <div>
                    ©
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    , made with ❤️ by <a href="https://pixinvent.com" target="_blank" class="fw-medium">Pixinvent</a>
                </div>
                <div class="d-none d-lg-inline-block">
                    <a href="https://themeforest.net/licenses/standard" class="footer-link me-4" target="_blank">License</a>
                    <a href="https://1.envato.market/pixinvent_portfolio" target="_blank" class="footer-link me-4">More Themes</a>

                    <a href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/" target="_blank" class="footer-link me-4">Documentation</a>

                    <a href="https://pixinvent.ticksy.com/" target="_blank" class="footer-link d-none d-sm-inline-block">Support</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
</div>
<!--/ Content wrapper -->
{% endblock content %}