{% extends 'main.html' %}

{% load static %}

{% block title %}Projects{% endblock title %}

{% block css_head %}
    <link rel="stylesheet" href="{% static 'vendor/css/pages/page-profile.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/css/pages/app-academy.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/spinkit/spinkit.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/plyr/plyr.css' %}" />
    <style>
        .position-relative {
            position: relative;
            overflow: hidden; /* Hide overflow to prevent the overlay from overflowing */
        }

        .card-hover {
            transition: transform 0.3s; /* Add smooth transition for the zoom effect */
            position: relative;
        }

        .card-hover:hover {
            transform: scale(1.02); /* Zoom in on hover */
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3); /* Adjust the alpha value for darkness */
            opacity: 0;
            transition: opacity 0.3s;
            z-index: 0; /* Ensure the overlay is below the text */
        }

        .hover-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; /* Set text color to white for better visibility */
            opacity: 0;
            transition: opacity 0.3s;
            z-index: 1; /* Ensure the text is above the overlay */
        }

        .card-hover:hover .overlay,
        .card-hover:hover .hover-text {
            opacity: 1;
        }

        .card-link {
            text-decoration: none; /* Remove the default underline on the link */
            color: inherit; /* Use the default text color */
        }

        .card-title {
            margin-bottom: 0; /* Remove the default margin for the title */
        }

        .image-wrapper {
            position: relative;
            overflow: hidden;
            padding-bottom: 56.25%; /* 16:9 aspect ratio */
        }

        .card-img-top {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .rounded-2 {
            position: relative;
            width: 100%;
            padding-top: 56.25%; /* 16:9 aspect ratio */
        }

        .rounded-2 img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; /* This property ensures that the image covers the container while maintaining its aspect ratio */
        }

    </style>

{% endblock css_head %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    {% include 'base/profile-header.html' %}

            <section>
                <h3 class="text-left mb-2 mt-0 mt-md-2">Projects</h3>
                <p class="text-left lead">
                    Several projects that I have worked on, both private and open source.
                </p>
            </section>

            <div class="divider divider-primary mb-4">
                <div class="divider-text">
                    <i class="ti ti-activity-heartbeat"></i>
                </div>
            </div>
            
            <!-- <section>
                <div class="row mb-4">
                    {% for project in projects %}
                        <div class="col-md-6 col-sm-12">
                                <div class="card mb-4">
                                    <div class="position-relative card-hover">
                                        <div class="image-wrapper">
                                            <img class="card-img-top" src="{{ project.image.url }}" alt="{{ project.title }}" />
                                        </div>
                                        <div class="overlay"></div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ project.title }}</h5>
                                        <p class="card-text mb-2">
                                            {{ project.description|slice:":100" }}{% if project.description|length > 100 %}...{% endif %}
                                        </p>
                                        <div class="text-end">
                                            <small class="text-right text-muted">{{ project.date_start }} - {{ project.date_finish }}</small>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="d-grid gap-2 col-md-6 mx-auto">
                                                <a href="{{ project.github_url }}" target="_blank" class="btn btn-label-info" role="button">
                                                    <span class="ti-xs ti ti-git-fork me-1"></span>Repository
                                                </a>
                                            </div>
                                            <div class="d-grid gap-2 col-lg-6 mx-auto">
                                                <a href="{{ project.demo_url }}" target="_blank" class="btn btn-label-success" role="button">
                                                    <span class="ti-xs ti ti-unlink me-1"></span>Demo
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </section> -->

            <section>
                <div class="mb-4">
                    <div class="card-header d-flex flex-wrap justify-content-between gap-3">
                        <div class="card-title mb-0 me-1">
                            <h5 class="mb-1">My Courses</h5>
                            <p class="text-muted mb-0">Total 6 course you have purchased</p>
                        </div>
                        <div class="d-flex justify-content-md-end align-items-center gap-4 flex-wrap">

                            <label class="switch">
                                <input type="checkbox" class="switch-input" />
                                <span class="switch-toggle-slider">
                                    <span class="switch-on"></span>
                                    <span class="switch-off"></span>
                                </span>
                                <span class="switch-label text-nowrap mb-0">Hide completed</span>
                            </label>
                        </div>
                    </div>
                    <div class="card-body mt-3">
                        <div class="row gy-4 mb-4">
                            {% for project in projects %}
                            <div class="col-sm-6 col-lg-4">
                                <div class="card p-2 h-100 shadow-none border">
                                    <div class="rounded-2 text-center card-hover mb-3">
                                        <a href="#">
                                            <img class="img-fluid" src="{{ project.image.url }}" alt="{{ project.title }}" />
                                        </a>
                                    </div>
                                    <div class="card-body p-3 pt-2">
                                         <!-- justify-content-between -->
                                        <div class="d-flex align-items-center mb-3">
                                            <span class="badge bg-label-primary text-start me-2">Web</span>
                                            <span class="badge bg-label-primary text-start me-2">python</span>
                                            <!-- <h6 class="d-flex align-items-center justify-content-center gap-1 mb-0">
                                                4.4 <span class="text-warning"><i class="ti ti-star-filled me-1 mt-n1"></i></span><span class="text-muted">(1.23k)</span>
                                            </h6> -->
                                        </div>
                                        <a href="#" class="h5">{{ project.title }}</a>
                                        <p class="mt-2">{{ project.description|slice:":75" }}{% if project.description|length > 75 %}...{% endif %}</p>
                                        <p class="text-end"><i class="ti ti-clock me-2 mt-n1"></i>30 minutes</p>
                                        <!-- <div class="progress mb-4" style="height: 8px;">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div> -->
                                        <div class="d-flex flex-column flex-md-row gap-2 text-nowrap">
                                            <a class="app-academy-md-50 btn btn-label-secondary me-md-2 d-flex align-items-center" href="app-academy-course-details.html">
                                                <i class="ti ti-rotate-clockwise-2 align-middle scaleX-n1-rtl me-2 mt-n1 ti-sm"></i><span>Repository</span>
                                            </a>
                                            <a class="app-academy-md-50 btn btn-label-primary d-flex align-items-center" href="app-academy-course-details.html"> <span class="me-2">Live Demo</span><i class="ti ti-chevron-right scaleX-n1-rtl ti-sm"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <nav aria-label="Page navigation" class="d-flex align-items-center justify-content-center">
                            <ul class="pagination">
                                <li class="page-item prev">
                                    <a class="page-link" href="javascript:void(0);"><i class="ti ti-chevron-left ti-xs scaleX-n1-rtl"></i></a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="javascript:void(0);">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0);">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0);">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0);">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0);">5</a>
                                </li>
                                <li class="page-item next">
                                    <a class="page-link" href="javascript:void(0);"><i class="ti ti-chevron-right ti-xs scaleX-n1-rtl"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </section>
</div>
{% endblock content %}

{% block js_bottom %}
    <script src="{% static 'js/pages-profile.js' %}"></script>
    <script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <script src="{% static 'vendor/libs/block-ui/block-ui.js' %}"></script>
    <script src="{% static 'vendor/libs/sortablejs/sortable.js' %}"></script>
    <script src="{% static 'js/cards-actions.js' %}"></script>
    <script src="{% static 'js/app-academy-course.js' %}"></script>
    <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
    <script src="{% static 'vendor/libs/plyr/plyr.js' %}"></script>
    <script>
        /**
         * Charts Apex
         */
    
        "use strict";
    
        (function () {
            let cardColor, headingColor, labelColor, borderColor, legendColor;
    
            if (isDarkStyle) {
                cardColor = config.colors_dark.cardColor;
                headingColor = config.colors_dark.headingColor;
                labelColor = config.colors_dark.textMuted;
                legendColor = config.colors_dark.bodyColor;
                borderColor = config.colors_dark.borderColor;
            } else {
                cardColor = config.colors.cardColor;
                headingColor = config.colors.headingColor;
                labelColor = config.colors.textMuted;
                legendColor = config.colors.bodyColor;
                borderColor = config.colors.borderColor;
            }
    
            // Color constant
            const chartColors = {
                column: {
                    series1: "#826af9",
                    series2: "#d2b0ff",
                    bg: "#f8d3ff",
                },
            };
    
            // Heat chart data generator
            function generateDataHeat(count, yrange) {
                let i = 0;
                let series = [];
                while (i < count) {
                    let x = "w" + (i + 1).toString();
                    let y = Math.floor(Math.random() * (yrange.max - yrange.min + 1)) + yrange.min;
    
                    series.push({
                        x: x,
                        y: y,
                    });
                    i++;
                }
                return series;
            }
    
            // Heat map chart
            // --------------------------------------------------------------------
            const heatMapEl = document.querySelector("#heatMapContribution"),
                heatMapChartConfig = {
                    chart: {
                        height: 200,
                        type: "heatmap",
                        parentHeightOffset: 0,
                        toolbar: {
                            show: false,
                        },
                    },
                    plotOptions: {
                        heatmap: {
                            enableShades: false,
    
                            colorScale: {
                                ranges: [
                                    {
                                        from: 0,
                                        to: 0,
                                        name: "0",
                                        color: "#D6F5DB",
                                    },
                                    // {
                                    //   from: 11,
                                    //   to: 20,
                                    //   name: '10-20',
                                    //   color: '#7EA6F1'
                                    // },
                                    {
                                        from: 1,
                                        to: 13,
                                        name: "20-30",
                                        color: "#9be9a8",
                                    },
                                    {
                                        from: 14,
                                        to: 25,
                                        name: "30-40",
                                        color: "#40c463",
                                    },
                                    {
                                        from: 26,
                                        to: 45,
                                        name: "40-50",
                                        color: "#30a14e",
                                    },
                                    {
                                        from: 46,
                                        to: 10000000000000, // or undefined
                                        name: "50 - more",
                                        color: "#216e39",
                                    },
                                ],
                            },
                        },
                    },
                    dataLabels: {
                        enabled: false,
                    },
                    grid: {
                        show: false,
                    },
                    legend: {
                        show: true,
                        position: "bottom",
                        horizontalAlign: "start",
                        labels: {
                            colors: legendColor,
                            useSeriesColors: false,
                        },
                        markers: {
                            offsetY: 0,
                            offsetX: -3,
                        },
                        itemMargin: {
                            vertical: 3,
                            horizontal: 10,
                        },
                    },
                    stroke: {
                        curve: "smooth",
                        width: 4,
                        lineCap: "round",
                        colors: [cardColor],
                    },
                    series: [
                        {
                            name: "SAT",
                            data: generateDataHeat(8, {
                                min: 0,
                                max: 60,
                            }),
                        },
                        {
                            name: "FRI",
                            data: generateDataHeat(52, {
                                min: 0,
                                max: 60,
                            }),
                        },
                        {
                            name: "TUE",
                            data: generateDataHeat(52, {
                                min: 0,
                                max: 60,
                            }),
                        },
                        {
                            name: "WED",
                            data: [
                                { x: "kwaokwaowka", y: 0 },
                                { x: "wakokwaokw waokakwoa", y: 20 },
                                { x: "wao kwo kwa wa okwao a", y: 25 },
                                // ... tambahkan nilai lainnya sesuai kebutuhan
                            ],
                        },
                        {
                            name: "TUE",
                            data: generateDataHeat(52, {
                                min: 0,
                                max: 60,
                            }),
                        },
                        {
                            name: "MON",
                            data: generateDataHeat(52, {
                                min: 0,
                                max: 60,
                            }),
                        },
                        {
                            name: "SUN",
                            data: generateDataHeat(52, {
                                min: 0,
                                max: 60,
                            }),
                        },
                    ],
                    xaxis: {
                        labels: {
                            show: false,
                            style: {
                                colors: labelColor,
                                fontSize: "13px",
                            },
                        },
                        axisBorder: {
                            show: false,
                        },
                        axisTicks: {
                            show: false,
                        },
                    },
                    yaxis: {
                        labels: {
                            style: {
                                colors: labelColor,
                                fontSize: "13px",
                            },
                        },
                    },
                };
            if (typeof heatMapEl !== undefined && heatMapEl !== null) {
                const heatMapContribution = new ApexCharts(heatMapEl, heatMapChartConfig);
                heatMapContribution.render();
            }
        })();
    </script>
{% endblock js_bottom %}
